
mixin content(data)
  div.main-content
    h1.main-content__title  Торговые условия
    div.data
        .data__top-wrapper
            .data__tabs-container.dragscroll
                ul.tabs.tabs_rank_main
                    li.tabs__item.is_active
                        a.tabs__link(href='#') Валютный рынок FX
                    li.tabs__item
                        a.tabs__link(href='#') Драгметаллы
                    li.tabs__item
                        a.tabs__link(href='#') CFD
                    li.tabs__item
                        a.tabs__link(href='#') Евробонды
                    li.tabs__item
                        a.tabs__link(href='#') Форварды
                    li.tabs__item
                        a.tabs__link(href='#') Swap-Free
            .data__mobile-search
                a.search-button(href="#")
            .data__mobile-menu
                a.mobile-menu#mobileMenu(href="#")
        ul.tabs.tabs_rank_extra
            li.tabs__item.is_active
                a.tabs__link(href='#') Спецификации контрактов
            li.tabs__item
                a.tabs__link(href='#') Маржинальные требования
        .data__table-wrapper
            .data__table-head
                table.table
                        thead.table__head
                            tr.table__head-row
                                th.table__head-cell
                                    span.table__head-text Символ
                                th.table__head-cell
                                    span.table__head-text.table__head-text_tooltip Спрэд, пунктов
                                th.table__head-cell
                                    span.table__head-text Стоимость пункта в 1 лоте
                                th.table__head-cell
                                    span.table__head-text Размер контракта, для 1-го лота
                                th.table__head-cell
                                    span.table__head-text Уровни Limit&amp;Stop, пунктов
                                th.table__head-cell
                                    span.table__head-text.table__head-text_tooltip Своп long (длинных позиций), пунктов
                                th.table__head-cell
                                    span.table__head-text.table__head-text_tooltip Своп short (коротких позиций), пунктов
                                th.table__head-cell
                                    span.table__head-text.table__head-text_tooltip Своп long (длинных позиций), в валюте счёта
                                th.table__head-cell
                                    span.table__head-text.table__head-text_tooltip Своп short (коротких позиций), в валюте счёта
            .data__table
                table.table
                    //- thead.table__head
                    //-     tr.table__head-row
                    //-         th.table__head-cell
                    //-             span.table__head-text Символ
                    //-         th.table__head-cell
                    //-             span.table__head-text.table__head-text_tooltip Спрэд, пунктов
                    //-         th.table__head-cell
                    //-             span.table__head-text Стоимость пункта в 1 лоте
                    //-         th.table__head-cell
                    //-             span.table__head-text Размер контракта, для 1-го лота
                    //-         th.table__head-cell
                    //-             span.table__head-text Уровни Limit&amp;Stop, пунктов
                    //-         th.table__head-cell
                    //-             span.table__head-text.table__head-text_tooltip Своп long (длинных позиций), пунктов
                    //-         th.table__head-cell
                    //-             span.table__head-text.table__head-text_tooltip Своп short (коротких позиций), пунктов
                    //-         th.table__head-cell
                    //-             span.table__head-text.table__head-text_tooltip Своп long (длинных позиций), в валюте счёта
                    //-         th.table__head-cell
                    //-             span.table__head-text.table__head-text_tooltip Своп short (коротких позиций), в валюте счёта
                    tbody.table__body#tableBody
                        -
                        each row in data.tableRows
                            tr.table__body-row
                                each cell, index in row
                                    if (cell<0)
                                        td.table__body-cell.table__body-cell_change_fall= cell
                                    else if (cell==0 || index<5)
                                        td.table__body-cell= cell
                                    else if (index>6 && Math.round(Math.random()))
                                        td.table__body-cell.table__body-cell_change_fall= cell
                                    else
                                        td.table__body-cell.table__body-cell_change_grow= cell

        .data__description
            div.description
                p  1. Альфа-Форекс оставляет за собой право корректировать величину спреда в зависимости от рыночной ситуации: в периоды повышенной волатильности и/или ограниченной ликвидности на рынке.
                p  2. Данные спецификации действуют как для торговой платформы MetaTrader5, так и для торговой платформы MetaTrader4.
                p  3. Данные ставок своп рассчитываются ежедневно и зависят от разницы процентных ставок государств, торгуемых валют. В ночь со среды на четверг своп списывается/начисляется в тройном размере.
                p  4. Своп по рублевым инструментам, а также USDCAD списывается/начисляется в тройном размере с четверга на пятницу.
                p  5. Для валютных пар с пятью знаками после запятой 1 пункт - это четвертый знак после запятой. Для валютных пар с тремя знаками после запятой 1 пункт - это второй знак после запятой.
        div.accordion
            a.accordion__button.icon-up-open#accordionButton(href='#') Архив торговых условий
            div.accordion__item-list#accordionContent
                div.accordion__item
                    span.accordion__text Торговые условия Альфа-Форекс до 29.12.2016
                div.accordion__item
                    span.accordion__text Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015
                div.accordion__item
                    span.accordion__text Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015
                div.accordion__item
                    span.accordion__text Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015
                div.accordion__item
                    span.accordion__text Торговые условия Альфа-Форекс с 20.03.2015 по 30.03.2015
        .data__search-panel
            .search-panel
                .search-panel__search-button
                    a.search-button(href="#")
                ul.search-panel__currencies
                    li.search-panel__currencies-item
                        label.checkbox
                            input.checkbox__input(type='checkbox' value='RUB')
                            .checkbox__image
                                img(src="%=static=%img/general/ruble.png", alt="")
                    li.search-panel__currencies-item
                        label.checkbox
                            input.checkbox__input(type='checkbox' value='USD')
                            .checkbox__image
                                img(src="%=static=%img/general/dollar.png", alt="")
                    li.search-panel__currencies-item
                        label.checkbox
                            input.checkbox__input(type='checkbox' value='EUR')
                            .checkbox__image
                                img(src="%=static=%img/general/euro.png", alt="")
                .search-panel__volume
                    div.search-panel__volume-heading Объем
                    input.search-panel__volume-value(type="text" value="1.00")
                .search-panel__display-options
                    .search-panel__display-options-item.is_active
                        label.radio-button В валюте
                            input.radio-button__input(type="radio" value="currency" checked="checked" name="radio")
                            span.radio-button__checkmark
                    .search-panel__display-options-item
                        label.radio-button В лотах
                            input.radio-button__input(type="radio" value="lot" name="radio")
                            span.radio-button__checkmark
                .search-panel__search-bar.search-panel__search-bar_hidden#searchBar
                    .search-bar
                        .search-bar__inner
                            input.search-bar__input#searchInput(type='text' placeholder='Поиск')
                            button.button(type='button')
                                img.button__image(src="%=static=%img/general/search.png", alt="")
