// Common styles of the project
body
    background linear-gradient(135.06deg, #4A3577 0%, #273B5D 43.5%, #212E45 100%)
    font-family Roboto
    color #222026
    padding-bottom 100px

.main-content
    width 1170px
    margin 0 auto

    &__title
        color #fff
        font-size 54px
        font-weight 100
        line-height 1
        margin 30px 50px

.data
    background #fff
    border-radius 8px
    padding 50px
    position relative

    &__table
        width 1080px
        padding-right 4px
        margin-bottom 32px
        max-height 680px
        overflow auto

        &_narrow
            padding-right 10px

        &-wrapper
            padding-top 100px
            position relative
            &.blur_top:before
                content ''
                position absolute
                width 100%
                height 50px
                background linear-gradient(0deg, rgba(255,255,255,0) 0%, #FFFFFF 100%)
                pointer-events none
            &.blur_bottom:after
                content ''
                position absolute
                width 100%
                height 50px
                bottom 0
                background linear-gradient(0deg, #FFFFFF 0%, rgba(255,255,255,0) 100%)
                pointer-events none

        &::-webkit-scrollbar
            width 6px
        &::-webkit-scrollbar-thumb
            background-color #85858E
            border-radius 3px

    &__description
        margin-bottom 40px

    &__search-panel
        display inline-block
        position absolute
        right calc(100%+20px)
        top 0
        box-shadow 0 2px 6px 0 rgba(34,32,38,0.2)

.tabs
    padding 0
    font-size: 0
    font-weight 500

    &__item
        display inline-block
        color #222026
        &.is_active
            color #697076
    &__link
        text-decoration none
        color inherit

    &_rank_main
        margin-bottom 34px
        & ^[0]__item
            margin-right 35px
            &.is_active ^[0]__link
                border none
        & ^[0]__link
            border-bottom 1px solid #D3D7DA
            border-bottom-style dashed
            font-size 18px

    &_rank_extra
        margin-bottom 28px
        & ^[0]__item.is_active ^[0]__link
            background-color #F4F5F7
        & ^[0]__item:first-child ^[0]__link
            border-radius 3px 0 0 3px
            margin-left: 0
        & ^[0]__item:last-child ^[0]__link
            border-radius 0 3px 3px 0
        & ^[0]__link
            width: 268px
            height: 52px
            font-size 16px
            border 1px solid #D3D7DA
            display flex
            justify-content: center
            align-items: center
            margin-left: -1px

.table
    font-size: 14px
    font-weight 300
    width 1070px
    &__head-row
        width 1071px
        position absolute
        top 0

    &__head-cell
        position relative
        line-height 18px
        font-weight: 300
        border 1px solid #85858E
        cursor pointer
        height 100px
        width calc(930px / 8)
        &:first-child
            width 140px
        &:before
            content ""
            border-left 6px solid transparent
            border-right 6px solid transparent
            border-top 7px solid #69862D
            position absolute
            top: 8px
            right 8px
        &:after
            content ""
            border-left 6px solid transparent
            border-right 6px solid transparent
            border-bottom 7px solid #69862D
            position absolute
            top: 8px
            right 20px
        &.sort_up:after
            border-bottom-color #F4152A
        &.sort_up:before
            border-top-color #B9B9BD
        &.sort_down:after
            border-bottom-color #B9B9BD
        &.sort_down:before
            border-top-color #F4152A

    &__head-text
        display inline-block
        max-width 90px
        user-select none
        &_tooltip
            text-decoration underline
            text-decoration-color #D3D7DA

    &__body
        height: 50px
        overflow-y auto

    &__body-cell
        border 1px solid #D3D7DA
        border-top none
        border-bottom none
        padding 0 16px
        text-align center
        font-weight 500
        width 116px

        &_change_grow
            color #318624
        &_change_fall
            color #E2322A
        &:first-child
            text-align left
            width 140px
        &:nth-child(n+3):nth-child(-n+5)
            font-weight 300

    &__body-row
        height 45px
        &:last-child
            border-bottom 1px solid #D3D7DA
        &:nth-child(odd)
            background-color #F4F5F7

.description
    font-size: 13px;
    line-height: 18px;
    color: #697076;
    &>p
        margin: 0;

.accordion

    &__button
        display inline-block
        color #222026
        border-bottom 1px solid #D3D7DA
        border-bottom-style dashed
        height 32px
        font-size 18px
        font-weight 300
        line-height 32px
        margin-bottom 35px
        position relative
        text-decoration none
        transition all 0.3s
        &.collapsed
            margin-bottom 0

    &__item-list
        display flex
        flex-wrap wrap
        transition all .3s
        &_is_closed
            max-height 0 !important
            pointer-events none

    &__item
        flex 1 1 50%
        height 30px
        margin-bottom 7px
        padding-left 34px
        background-image embedurl("static/img/svg/blank.svg", "utf8");
        background-repeat no-repeat
        background-position 0 50%
        &:first-child
            background-image embedurl("static/img/svg/pdf.svg", "utf8");

    &__text
        font-size 14px
        text-decoration underline
        font-weight 500
        color #222026
        line-height: 30px;
        cursor pointer

.search-panel
    padding 16px
    background #fff
    display flex
    flex-wrap wrap
    justify-content center
    border-radius 5px
    position relative

    &__search-button
        height 52px
        width 52px

    &__currencies
        padding 0
        margin 16px 0
        &-item
            display block
            width 52px
            height 52px
            border 1px solid #D3D7DA
            margin-top -1px
            &.is_active
                background #F4F5F7
            &:first-child
                margin-top 0
                border-radius 3px 3px 0 0
            &:last-child
                border-radius 0 0 3px 3px
    &__volume
        margin-bottom 12px
        &-heading
            text-align center
            font-size 14px
            font-weight 500
            margin-bottom 8px
        &-value
            width 78px
            padding 10px 21px
            border 1px solid #D3D7DA
            border-radius 3px

    &__display-options
        &-item
            margin-bottom 10px
            display block
            color #697076
            position relative
            &.is_active
                color #222026
            &:last-child
                margin-bottom 0

    &__search-bar
        position absolute
        top 0
        left calc(100% + 10px)
        opacity 1
        transition opacity .2s
        &_hidden
            opacity 0
            pointer-events none

.search-button
    border 1px solid #D3D7DA
    border-radius 3px
    background-image embedurl("static/img/svg/search.svg", "utf8");
    background-repeat no-repeat
    background-position 50% 50%
    display block
    height 100%

.button
    display flex
    justify-content center
    align-items center
    height 100%

.checkbox
    cursor pointer
    &__input
        display none

    &__input:checked ~ &__image
        background-color #f4f5f7

    &__image
        display flex
        justify-content center
        align-items center
        height 100%

.radio-button
    font-size 13px
    font-weight 500
    vertical-align middle
    cursor pointer
    padding-left 20px
    user-select none
    color inherit

    &__input
        position: absolute
        opacity: 0
        cursor: pointer

    &__checkmark
        position absolute
        top calc(50% - 6px)
        left 0
        height: 12px
        width: 12px
        border 1px solid #D3D7DA
        border-radius 50%

        ^[-1]__input:checked ~ &
            background-color #69862D
            border none


.page__social
    width 50px
    position fixed
    right 16px
    top calc(50% - 107.5px)

.social

    &__links
        margin 0
        padding 0
    &__item
        display inline-block
        height 43px
        width 100%
        background #464951
        &:first-child
            border-radius 3px 3px 0 0
        &:last-child
            border-radius 0 0 3px 3px
        &-link
            height 100%
            display flex
            justify-content center
            align-items center
            border-bottom 1px solid #51555C
        &-image
            font-size 24px

.search-bar
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.5)
    border-radius 5px
    background-color #303038
    padding 17px

    &__inner
        width 300px
        height 50px
        border 1px solid rgba(255, 255, 255, 0.5)
        border-radius 3px
        padding 17px
        background-color #303038
        display flex
        align-items center


    &__input
        background-color inherit
        border none
        flex 1
        color #ffffff
        outline none
        padding-right 10px

    & .button
        padding 0
        border none
        background none
