mixin social(data)
    .social.page__social
        ul.social__links
            li.social__item
                a.social__item-link(href='#')
                    span.icon-wordpress.social__item-image
            li.social__item
                a.social__item-link(href='#')
                    span.icon-wordpress.social__item-image
            li.social__item
                a.social__item-link(href='#')
                    span.icon-wordpress.social__item-image
            li.social__item
                a.social__item-link(href='#')
                    span.icon-wordpress.social__item-image
            li.social__item
                a.social__item-link(href='#')
                    span.icon-wordpress.social__item-image
